appdirs==1.4.3
attrs==18.2.0
black==18.9b0
certifi==2018.11.29
chardet==3.0.4
Click==7.0
gbulb==0.6.1
idna==2.8
ipfsapi==0.4.3
pycairo==1.18.0
PyGObject==3.31.1.dev0
requests==2.21.0
six==1.12.0
toga==0.3.0.dev11
toga-core==0.3.0.dev11
toga-gtk==0.3.0.dev11
toml==0.10.0
travertino==0.1.2
urllib3==1.24.1
